<div class="container">
	<h2> The Private Club </h2></br>
	<table class="table table-striped">
  		<tr>
    		<th>First name</th>
   			<th>Last name</th>
    		<th>Email</th>
  		</tr>
 
  		<% User.all.each do |user|%> 
    		<tr>
      			<td><%= user.first_name %></td>
      			<td><%= user.last_name %></td>
      			<td><%= user.email %></td>
    		</tr>
  		<% end %>
	</table>
</div>